# ML Zoomcamp HomeWork 1

## Preparation

In [1]:
# getting the data
# !wget -O ../data/car-prices.csv https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-11 00:50:37--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1475504 (1.4M) [text/plain]
Saving to: ‘../data/car-prices.csv’

../data/car-prices. 100%[===================>]   1.41M  --.-KB/s    in 0.04s

2022-09-11 00:50:37 (32.6 MB/s) - ‘../data/car-prices.csv’ saved [1475504/1475504]

In [2]:
# lsiting the data folder
# !ls ../data

car-prices.csv

## Importing

In [3]:
import numpy  as np
import pandas as pd

## Loading Data

In [4]:
df = pd.read_csv('../data/car-prices.csv')

In [5]:
df.head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650

## Question 1
What's the version of NumPy that you installed?

In [6]:
print(np.__version__)

1.21.5

## Question 2
How many records are in the dataset?

In [7]:
print(f"The dataset has {df.shape[0]} rows.")

The dataset has 11914 rows.

## Question 3
Who are the most frequent car manufacturers (top-3) according to the dataset?

In [8]:
df['Make'].value_counts(ascending=False)[:3]

Chevrolet     1123
Ford           881
Volkswagen     809
Name: Make, dtype: int64

## Question 4
What's the number of unique Audi car models in the dataset?

In [9]:
df[df['Make'] == 'Audi']['Model'].nunique()

34

## Question 5
How many columns in the dataset have missing values?

In [10]:
(df.isna().sum() != 0).sum()

5

## Question 6
Has the data changed after filling NAs with the most frequent value?

In [11]:
first_median = df['Engine Cylinders'].median()
first_median

6.0

In [12]:
most_frequent = df['Engine Cylinders'].mode().iloc[0]
most_frequent

4.0

In [13]:
df['Engine Cylinders'].fillna(most_frequent, inplace = True)

In [14]:
last_median = df['Engine Cylinders'].median()
last_median

6.0

In [15]:
first_median != last_median

False

## Question 7

In [16]:
aux = df[df['Make'] == 'Lotus'].copy()
aux.head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
3912,Lotus,Elise,2009,premium unleaded (required),189.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,27,21,613,43995
3913,Lotus,Elise,2009,premium unleaded (required),218.0,4.0,MANUAL,rear wheel drive,2.0,"Exotic,High-Performance",Compact,Convertible,26,20,613,54990

In [17]:
 aux = aux[['Engine HP', 'Engine Cylinders']]

In [18]:
X = aux.drop_duplicates().values
X.shape

(9, 2)

In [19]:
XTX = X.T.dot(X)

In [20]:
XTX_inverse = np.linalg.inv(XTX)

In [21]:
y = np.array([1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800])

In [22]:
w = (XTX_inverse.dot(X.T)).dot(y)
w

array([  4.59494481, -63.56432501])

In [23]:
w[0]

4.594944810094579